body{
    margin: 0;
    background-color: #231709;
    background-image: url('../assets/icon_churrasco-removebg-preview.png');
    background: no-repeat;
}
/* f2efdf */

#logo{
    display: block;
    margin: auto;
    width: 100%;
    background-color: #444;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    right: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 20px;
    height: 40%;
}

/* #9a7b4f */
#container{
    position: absolute;
    background-color: rgb(211, 206, 206);
    max-width: 300px;
    height: 100%;
    padding-right: 20px;
    padding-left: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid white;
}

.userInput{
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box; /*?*/
    padding: 10px;
    border-style: none;
    border-radius: 10px;
    box-shadow: 5px 3px #00000066;
    text-align: center;
}

#calc{
    display: block;
    width: 70px;
    padding: 10px;
    margin: auto;
    width: 80%;
    border-radius: 10px;
    border-style: none;
    margin-top: 30px;
    cursor: pointer;
    font-size: large;
    box-shadow: 5px 3px #00000066;
 
}

#resultList{
    list-style: none;
    padding-left: 10px;
    margin-bottom: 0;
    margin-top: 30px;
}

/* .line{
    margin-bottom: 10px;
} */

/* #icon_churrasco{
    position: absolute;
    left: 500px; 
    bottom: 100px;
} */

#listInput{
    display: flex;
    list-style: none;
    padding-left: 900px;
    padding-top: 20px;
    margin: 0;
}

img.icon{
    width: 100px;
    border-radius: 50%;
}

#containerResults{
    width: 70%;
    height: 400px;
    margin-left: 340px;
    position: relative;
    background-color: #505050;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 2px solid white;
    border-left: none;
    top: 150px;
    left: 2px;
}

.resultCard{
    border: 2px solid white;
    display: inline-block;
    position: relative;
    border-radius: 50px;
    margin-left: 70px ;
    top:50%;
    transform: translateY(-50%);
    color: white;
    background-color: #444;
}

.iconCard{
    width: 100px;
    padding-left: 60px;
    padding-right: 60px;
}

.styleP{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-style:inherit;
}