body{
    margin: 0;
    background-color: #231709;
    background-image: url('../assets/icon_churrasco-removebg-preview.png');
    background: no-repeat;
}

#container{
    position: absolute;
    background-color: #9a7b4f;
    max-width: 300px;
    height: 100%;
    padding-right: 20px;
    padding-left: 20px;
    box-shadow: 5px 0px #00000066;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.userInput{
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box; /*?*/
    padding: 10px;
    border-style: none;
    border-radius: 10px;
    box-shadow: 5px 3px #00000066;
}

#calc{
    display: block;
    width: 70px;
}

#resultList{
    list-style: none;
    padding-left: 10px;
    margin-bottom: 0;
    margin-top: 30px;
}

/* .line{
    margin-bottom: 10px;
} */

h1{
    font-family: 'Water Brush', cursive;/*fonte nao esta funcionando*/
    text-align: center;
    font-size: 50px;
    color: #202020;
}

/* #icon_churrasco{
    position: absolute;
    left: 500px; 
    bottom: 100px;
} */

#listInput{
    display: flex;
    list-style: none;
    padding-left: 900px;
    padding-top: 20px;
    margin: 0;
}

img.icon{
    width: 100px;
    border-radius: 50%;
}

#containerResults{
    width: 70%;
    height: 400px;
    margin-left: 360px;
    position: relative;
}

.resultCard{
    /* display: inline; */
    border: 2px solid black;
    display: inline-block;
    position: relative;
    border-radius: 50px;
    margin-left: 70px ;
    top:50%;
    transform: translateY(-50%);
}

.iconCard{
    width: 100px;
    padding-left: 60px;
    padding-right: 60px;
}